:root{
    --main_color: #FFEBD8;
}

html{
    background-color: var(--main_color);
    background: radial-gradient(#FFEBD8, #FFC5C5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

.column {
    flex: 50%;
    padding: 0 4px;
  }
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 250px;
}


button{
    display: block;
    background-color: #FFEBD8;
    text-align: center;
    margin: 0 auto;
    border-width: 3px;
    border-color: #FFC5C5;
    border-radius: 15px;
    font-size: 25px;
    padding: 10px;
}

button:hover{
    background-color: #faeee2;
    border-color: #FFC5C5;
    border-width: 3px;
    border-radius: 10px;
}

h1{
    display: grid;
    text-align: center;
    text-shadow: black;
    font-size: 61px;
    margin-bottom: -20px;
    margin-top: 20%;
    padding-left: 0px;
    padding-top: 20px;
}

h5{
    text-align: center;
    font-size: 18px;
}

h6{
    margin-bottom: -5px;
    text-align:center;
    font-size: 24px
}

