:root{
    --main_color: #FFEBD8;
}

html{
    background-color: var(--main_color);
    background: radial-gradient(#FFEBD8, #FFC5C5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-template-columns: auto auto auto auto;
}

button{
    display: block;
    background-color: #FFEBD8;
    text-align:center;
    margin: 0 auto;
    border-width: 2px;
    border-radius: 10px;
    font-size: 25px;
    padding: 10px;
}

button:hover{
    background-color: #faeee2;
    border-color: #FFC5C5;
    border-width: 2px;
    border-radius: 10px;
}

h1{
    display: grid;
    padding-top: 20%;
    text-align: center;
    font-size: 60px;
    margin-bottom: -20px;
}

h5{
    text-align: center;
    font-size: 18px;
}

h6{
    margin-bottom: -5px;
    text-align:center;
    font-size: 24px
}
